.field {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 32px 256px;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.label {
    margin-block-start: 16px;
    color: #007294;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin-block-start: 32px;
  text-align: right;
}

.input{
  background-color: #ffffff;
  color:#000000;
  border: 1px solid #000000;
}

.select{
  background-color: #ffffff;
  color:#000000;
}

@media (max-width: 1200px) {
  .field {
    margin: 32px 64px;
  }
}

@media (max-width: 600px) {
  .field {
    max-width: none;
    flex-wrap: wrap;
  }
}
